datasets
evaluate
pandas
tqdm
# transformers
# transformers @ git+https://github.com/huggingface/transformers
transformers @ git+https://github.com/katherine-atwell/transformers@revert-1-update-generator-device
# wandb